.max-height-14 {
    max-height: 14em;
}
.min-height-14 {
    min-height: 14em;
}
.border-radious-3{
    border-radius: 3em !important;
}

@media (max-width: 576px) {
    .img-contain {
        object-fit: contain;
    }
}

.cat-mobil {
    display: none;
}

@media (max-width: 990px) {
    .cat-mobil {
        display: block;
    }
}

.cat-desktop {
    display: flex;
}

@media (max-width: 990px) {
    .cat-desktop {
        display: none;
    }
}